@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:wght@400;700&display=swap');

@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --brand: #AF1E23;
  color-scheme: light;
}

/* GLOBAL RESET */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--background);
  color: var(--foreground);
  font-family: 'Libre Caslon Text', serif;
}

.bg-primary {
  background-color: rgb(199, 177, 93);
}

.text-brand {
  color: var(--brand);
}

.bg-brand {
  background-color: var(--brand);
}